<h3>Detalle del documento</h3>
<div>
  <div>
    <label><b>ID : </b> {{ documento.id }}</label>
  </div>
  <div>
    <label><b>Nombre : </b> {{ documento.nombre }}</label>
  </div>
  <div>
    <label><b>Codigo : </b> {{ documento.codigo }}</label>
  </div>
  <div>
    <label><b>Contenido : </b> {{ documento.contenido }}</label>
  </div>
  <div>
    <label><b>Tipo : </b> {{ documento.tipo_id }}</label>
  </div>
  <div>
    <label><b>Proceso : </b> {{ documento.proceso_id }}</label>
  </div>
</div>
