<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Edición de documento</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)] = "documento.nombre" name="nombre">
    </div>
    <div class="form-group">
      <label>Contenido:</label>
      <input type="text" class="form-control" id="contenido" [(ngModel)] = "documento.contenido" name="contenido">
    </div>
    <div class="form-group">
      <label>Tipo:</label>
      <select class="form-control" id="tipo_id" [(ngModel)]="documento.tipo_id" name="tipo_id">
        <ng-container *ngFor="let tipo of tipos">
          <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group">
      <label>Proceso:</label>
      <select class="form-control" id="proceso_id" [(ngModel)]="documento.proceso_id" name="proceso_id">
        <ng-container *ngFor="let proceso of procesos">
          <option value="{{ proceso.id }}">{{ proceso.nombre }}</option>
        </ng-container>
      </select>
    </div>

    <button class="btn btn-success">Guardar</button>
  </form>
</div>
