<h2>Lista documentos</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Tipo</th>
      <th>Proceso</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let documento of documentos">
      <td>{{documento.id}}</td>
      <td>{{documento.nombre}}</td>
      <td>{{documento.codigo}}</td>
      <ng-container *ngFor= "let tipo of tipos">
        <td *ngIf="documento.tipo_id == tipo.id">{{ tipo.nombre }}</td>
      </ng-container>
      <ng-container *ngFor= "let proceso of procesos">
        <td *ngIf="documento.proceso_id == proceso.id">{{ proceso.nombre }}</td>
      </ng-container>
      <td>
        <button (click)="actualizarDocumento(documento.id)" class="btn btn-info">Editar</button>
        <button (click)="eliminarDocumento(documento.id)" class="btn btn-danger ml-2">Eliminar</button>
        <button (click)="verDetalleDocumento(documento.id)" class="btn btn-warning ml-2">Detalle</button>
      </td>
    </tr>
  </tbody>
</table>
